In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
from sklearn.neighbors import KNeighborsRegressor

In [17]:
X=pd.DataFrame(X,columns=['Feature1','Feature2','Feature3'])
y=pd.DataFrame(y,columns=['Target'])

In [18]:
class KNearestNeighbours_Regressor():
    def __init__(self,k):
        self.k=k
    
    def fit(self,Xtrain,ytrain):
        self.Xtrain=np.array(Xtrain)
        self.ytrain=ytrain
    
    def predict(self,Xtest):
        self.Xtest=np.array(Xtest)
        df=pd.DataFrame(np.sum((self.Xtrain-self.Xtest)**2,axis=1))
        idx=df.nsmallest(self.k,columns=df.columns[0]).index
        knearest=self.ytrain.iloc[idx]
        return knearest.mean()
    
    def score(self,Xtest,ytest):
        y_predict=[]
        for x,y in zip(Xtest.values,ytest.values):
            y_predict.append(self.predict(x))
        y_predict=np.array(y_predict)
        
        #Mistake was in paranthesis
        r2=1-(np.sum((y_predict-ytest)**2)/(np.sum((ytest-np.mean(ytest))**2)))
        
        
        return r2

In [19]:
diamonds=pd.read_csv("diamonds.csv")
diamonds.head(5)

diamonds=diamonds.drop(columns="Unnamed: 0")

In [20]:
diamonds.head(3)

#No Null values 
diamonds.isnull().sum()

from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

for i in diamonds.select_dtypes('object'):
    diamonds[i]=lb.fit_transform(diamonds[i])
    
diamonds.head(5)

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [21]:
X=diamonds.drop(columns='price')
y=diamonds['price']

In [23]:
from sklearn.model_selection import train_test_split

Xtrain,Xtest,ytrain,ytest=train_test_split(X,y)
model=KNearestNeighbours_Regressor(5)
model.fit(Xtrain,ytrain)

test_index=random.randint(0,Xtest.shape[0])

model2=KNeighborsRegressor()
model2.fit(Xtrain,ytrain)
print("Predicted = ",model.predict(Xtest.iloc[test_index])," ",ytest.iloc[test_index])
print("Sklearn Predicted = ",model2.predict(Xtest.iloc[test_index].values.reshape(1,-1))," ",ytest.iloc[test_index])
# print(Xtest.iloc[test_index].values)

Predicted =  5371.4   5561
Sklearn Predicted =  [5371.4]   5561

c:\Users\hirsh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

In [24]:
print("My score = ",model.score(Xtest,ytest))

In [ ]:
model2.fit(Xtrain,ytrain)
print("sklearn score = ",model2.score(Xtest,ytest))

0.9439809196927451